
@{
    ViewData["Title"] = "Privacy";
}

<h1>Информация о сайте</h1>
<p>Данное WEB-приложение создано в учебных целях для выполнения курсового проекта на тему "Создание системы автоматизации автомастерской"</p>
<p>Выполнил студент группы АВТ-909 Галдин Михаил</p>
<div>
    <a asp-action="Index">Вернуться на главную страницу</a>
</div>

